
/* ==========================================================================
   ICON TOKENS
   ========================================================================== */

:root {



  /* =========================
     ICON UTILITIES
     ========================= */

  --selected-icon: url('../public/images/app/icons/icon_selected.svg');
  --camera-icon: url('../public/images/app/icons/icon_camera.svg');
  --google-icon: url('../public/images/app/icons/icon_google.svg');
  --login-icon: url('../public/images/app/icons/icon_login.svg');
  --dropdown-icon: url('../public/images/app/icons/icon_dropdown.svg');
  --circle-tile: url('../public/images/app/icons/icon_bkg_tile.svg');
  --color-icon: url('../public/images/app/icons/icon_color.svg');
  --pattern-icon: url('../public/images/app/icons/icon_pattern.svg');
  --notallowed-icon: url('../public/images/app/icons/icon_notallowed.svg');
  --flip-icon: url('../public/images/app/icons/icon_flip.svg');
  --motionlibrary-icon: url('../public/images/app/icons/icon_motionlibrary.svg');
  --play-icon: url('../public/images/app/icons/icon_play.svg');
  --pause-icon: url('../public/images/app/icons/icon_pause.svg');
  --live-icon: url('../public/images/app/icons/icon_live.svg');
  --record-icon: url('../public/images/app/icons/icon_record.svg');
  --recording-icon: url('../public/images/app/icons/icon_recording.svg');
  --download-icon: url('../public/images/app/icons/icon_download.svg');
  --recording-icon: url('../public/images/app/icons/icon_recording.svg');
  --close-icon: url('../public/images/app/icons/icon_close.svg');
  --trash-icon: url('../public/images/app/icons/icon_trash.svg');
  --refresh-icon: url("../public/images/app/icons/icon_refresh.svg");
  --cloudcheck-icon: url("../public/images/app/icons/icon_cloudcheck.svg");



  --icon-size-12: 12px;
  --icon-size-14: 14px;


  /* =========================
     CURSOR ICONS
     ========================= */

  --cursor-default: url('../public/images/app/icons/cursor/icon_cursor_default.svg');
  --cursor-pointer: url('../public/images/app/icons/cursor/icon_cursor_pointer.svg');
  --cursor-drag: url('../public/images/app/icons/cursor/icon_cursor_drag.svg');
  --cursor-dragging: url('../public/images/app/icons/cursor/icon_cursor_dragging.svg');
}


/* icon setup */
.has-icon,
.cd-icon {
  display: inline-block;
}

.icon-size-16 {
  min-width: 16px;
  min-height: 16px;
}

.icon-size-18 {
  min-width: 18px;
  min-height: 18px;
}

.icon-size-32 {
  min-width: 32px;
  min-height: 32px;
}

.has-icon.dropdown-icon {
  background: no-repeat center / contain var(--dropdown-icon);
}

.has-icon.camera-icon {
  background: no-repeat center / contain var(--camera-icon);
}
.has-icon.google-icon {
  background: no-repeat center / contain var(--google-icon);
}
.has-icon.login-icon {
  background: no-repeat center / contain var(--login-icon);
}

.has-icon.library-icon {
  background: no-repeat center / contain var(--library-icon);
}

.has-icon.loop-icon {
  background: no-repeat center / contain var(--loop-icon);
}

.has-icon.record-icon {
  background: no-repeat center / contain var(--record-icon);
}

.has-icon.download-icon {
  background: no-repeat center / contain var(--download-icon);
}

.has-icon.trash-icon {
  background: no-repeat center / contain var(--trash-icon);
}

.has-icon.close-icon {
  background: no-repeat center / contain var(--close-icon);
}

.has-icon.refresh-icon {
  background: no-repeat center / contain var(--refresh-icon);
}

.has-icon.cloud-check-icon {
  background: no-repeat center / contain var(--cloud-check-icon);
}

.icon-size-12 {
  min-width: 12px;
  min-height: 12px;
}

.icon-size-14 {
  min-width: 14px;
  min-height: 14px;
}


@media (min-width: 769px) {



   .tb\:icon-size-32 {
    width: 32px!important;
    height: 32px!important;
  }


}
