
/* ==========================================================================
   ICON TOKENS
   ========================================================================== */

:root {



  /* =========================
     ICON UTILITIES
     ========================= */

  --selected-icon: url('../public/images/app/icons/icon_selected.svg');
  --camera-icon: url('../public/images/app/icons/icon_camera.svg');
  --google-icon: url('../public/images/app/icons/icon_google.svg');
  --dropdown-icon: url('../public/images/app/icons/icon_dropdown.svg');
  --circle-tile: url('../public/images/app/icons/icon_bkg_tile.svg');
  --color-icon: url('../public/images/app/icons/icon_color.svg');
  --pattern-icon: url('../public/images/app/icons/icon_pattern.svg');
  --notallowed-icon: url('../public/images/app/icons/icon_notallowed.svg');
  --flip-icon: url('../public/images/app/icons/icon_flip.svg');


  /* =========================
     CURSOR ICONS
     ========================= */

  --cursor-default: url('../public/images/app/icons/cursor/icon_cursor_default.svg');
  --cursor-pointer: url('../public/images/app/icons/cursor/icon_cursor_pointer.svg');
  --cursor-drag: url('../public/images/app/icons/cursor/icon_cursor_drag.svg');
  --cursor-dragging: url('../public/images/app/icons/cursor/icon_cursor_dragging.svg');
}


/* icon setup */
.has-icon,
.cd-icon {
  display: inline-block;
}

.icon-size-16 {
  min-width: 16px;
  min-height: 16px;
}

.icon-size-18 {
  min-width: 18px;
  min-height: 18px;
}

.icon-size-32 {
  min-width: 32px;
  min-height: 32px;
}

.has-icon.dropdown-icon {
  background: no-repeat center / contain var(--dropdown-icon);
}

.has-icon.camera-icon {
  background: no-repeat center / contain var(--camera-icon);
}
.has-icon.google-icon {
  background: no-repeat center / contain var(--google-icon);
}


@media (min-width: 769px) {



   .tb\:icon-size-32 {
    width: 32px!important;
    height: 32px!important;
  }


}
